.mob-filter-panel {
    height: 50rem;
    width: 20rem;
    height: 100vh;
    max-width: 100vw;
    width: 100%;
  }
  .mob-filter-header {
    padding: 1rem 0;
    height: 5vh;
    justify-content: flex-start;
    border-bottom: 1px solid black;
  }
  .filter-property {
    font-weight: 600;
    padding: 0 1rem;
  }
  .mob-filter-content {
    width: 100%;
  }
  .filter-item {
      gap: 1rem;
      justify-content: flex-start;
      margin: 1rem 2.5px;
      padding: 0 2px;
    }
  .mob-filter-properties {
    width: 40%;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .filter-property {
    border-bottom: 1px solid grey;
    margin: 1rem 0;
  }
  .mob-filter-items {
    height: 90vh;
    border-left: 1px solid black;
    width: 60%;
  }
  .mob-filter-items > li {
    padding: 0 1rem;
    font-size: 2rem;
    list-style: none;
    border-bottom: 1px solid grey;
    /* margin: 1rem 0; */
    display: flex;
    gap: 1rem;
  }
  .filter-item input{
      margin-right: 1rem;
  }
  .mob-filter-footer {
    height: 4vh;
    max-width: 100vw;
    width: 100%;
  }
  .plain-btn {
    font-weight: 600;
  }
  
  .mob-filter-footer .filter-cancel-btn {
    width: 40vw;
  }
  .mob-filter-footer .filter-apply-btn {
    width: 60vw;
  }
  
  @media only screen and (max-width: 50em) {
    .mob-filter-panel {
      display: block;
    }
  }
  